body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #B18F6A;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
  }
  
  .header-content {
    text-align: center;
  }
  
  h1 {
    font-family: 'Forte', sans-serif;
  }
  
  .rounded-h1 {
    border-radius: 10px;
    border: 7px solid black;
    padding: 20px;
    background-color: transparent;
  }
  
  img {
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    max-width: 300px; /* Set container width here */
  }
  
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    padding: 20px;
  }
  
  .product-name {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #B18F6A;
    text-align: center;
    padding: 10px 0;
    display: block;
    z-index: 1;
  }
  
  .product-container a:hover img {
    transform: scale(1.1);
  }
  